.container {
  max-width: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.entry-form {
  margin-bottom: 20px;
  width: 100%; /* Ensure the form takes full width */
}

.input-container {
  display: flex;
  justify-content: center;
}

input[type="text"],
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.25s;
  margin-bottom: 10px;
}

.entries {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.entry,
.goal {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%; /* Ensure entries take full width */
}

.button-container {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  width: 100%; /* Ensure buttons take full width */
}

.update-button,
.delete-button {
  padding: 10px 20px;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.25s;
  margin-right: 10px; /* Add margin between buttons */
}

.update-button:hover,
.delete-button:hover {
  background-color: #535bf2;
}