.login-page {
    display: flex;
    justify-content: right;
    align-items: right;
    height: 100vh;
    background-color: #f5f5f5;
    font-size: large;
  }
  
  .app-title {
    font-size: 3rem; /* Larger font size */
    font-weight: 700; /* Make it bold */
    text-transform: uppercase; /* Uppercase letters for a bold statement */
    background-image: linear-gradient(to right, #ff5f6d, #ffc371); /* Gradient text */
    -webkit-background-clip: text;
    color: transparent; /* Remove the default text color for the gradient effect */
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.3)); /* Add a drop shadow for depth */
    margin-bottom: 2rem; /* Space before the form */
    margin: auto;
  }

  .form-container  h2{
    color: #1a1a1a;
  }
  .login-form {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

.container {
    max-width: 100%;
    padding: 2rem;
    text-align: center;
  }
  
  .entry-form {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }

  .bottom-text {
    color: #1a1a1a;
  }

  .bottom-text a {
    color: #13dd24;
  }
  
  button {
    padding: 10px 20px;
    background-color: #1a1a1a;
    color: rgba(255, 255, 255, 0.87);
    border: none;
    cursor: pointer;
    transition: background-color 0.25s;
  }
  button:hover {
    background-color: #53f2ca;
  }
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
      margin: 0 auto;
    }
  }